<!DOCTYPE html>

<html>
    <head>
        <title>Create Blog Post</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/myBlog">My Blog</a>
      <a href="/createPosts">Create New Post</a>
      <a href="/logout">Logout</a>
      <h1>
        Create Blog Post
      </h1>
      {% if error %}
      <h2 style="color: red;">Error: {{error}}</h2>
      {% endif %}
      <form action="/createPosts" method="POST">
        Title:
        <br>
        <input type="text" name="title">
        <br>
        Post Contents:
        <br>
        <textarea name="contents"></textarea>
        <br>
        <input type = "submit" name = "create" value = "Create Post">
    </form>
    </body>
</html>
