<!DOCTYPE html>

<html>
    <head>
        <title>Create</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <a href="/" type = "button">Home</a>
        <h1>
          Create
        </h1>
        <form action="/createPosts" method="POST">
          Title:
          <br>
            <input type="text" name="title">
            <br>
          Post Contents:
            <br>
            <input type="text" name="contents">
            <br>
            <input type = "submit" name = "create" value = "Create Post">
    </form>
    </body>
</html>
