<!DOCTYPE html>

<html>
    <head>
        <title>Edit</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <a href="/">Home</a>
        <h1>
          Edit
        </h1>
        <form action="/editBlog/{{id}}" method="POST">
            Title:
            <br>
              <input type="text" name="title" value ="{{postTitle}}">
              <br>
            Post Contents:
            <br>
              <input type="text" name="contents" value ="{{postContent}}">
            <br>
            <input type = "submit" name = "update" value = "Update Post">
        </form>
    </body>
</html>
