<!-- Team Name: Sleepy Programmers: Andy Lin, Shadman Rakib, Raymond Yeung
SoftDev
K15 -- User sessions on website via Flask
2021-10-18 -->

<!DOCTYPE html>

<html>
    <head>
        <title>Edit</title>
    </head>

    <body>
      <a href="/">Home</a>
        <h1>
          Edit
        </h1>
        Title:
        <br>
          <input type="text" name="title" value ={{postTitle}}>
          <br>
        Post Contents:
        <br>
          <input type="text" name="title" value ={{postTitle}}>
        <br>
        <input type = "submit" name = "finish" value = "Finish Editting">
    </body>
</html>
