<!DOCTYPE html>

<html>
    <head>
        <title>HOME</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
        <h1>
          Home Page
        </h1>
        <h3>
            <form action="/search" method="POST">
                <input type="text" name="search">
                <input type = "submit" name = "search" value = "Search">
            </form>
        </h3>
        {% for blog in blogs %}
        <h2>{{ blog[3] }}</h2>
        by {{ blog[1] }}
        <br>
        <br>
        {% endfor %}
        <a href="/logout">Logout</a>
        <a href="/myBlog">My Blog</a>
        <a href="/createPosts">Create New Post</a>
    </body>
</html>
