<!-- Team Name: Sleepy Programmers: Andy Lin, Shadman Rakib, Raymond Yeung
SoftDev
K15 -- User sessions on website via Flask
2021-10-18 -->

<!DOCTYPE html>

<html>
    <head>
        <title>HOME</title>
    </head>

    <body>
        <h1>
          Home Page
        </h1>
        <h3>
            <input type="text" name="search">
             <input type = "submit" name = "search" value = "Search">
            </h3>
        <br>
        <a href="/logout">Logout</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/editBlog">Edit Blog Posts</a> <!-- testing purpose,  not sure if it should be here.-->
    </body>
</html>
