<!DOCTYPE html>
<html>

  <head>
    <title> Login - Journal Square </title>
    <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
  </head>

  <body>
    <h1>
      Login for Journal Square, a newfangled blog for the masses!
    </h1>

    {% if error %}
    <h2 style="color: red;">Error: {{error}}</h2>
    {% endif %}
    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/login" method="POST">
      Username:
      <input type="text" name="username">
      <br>
      Password:
      <input type="password" name="password">
      <br>
      <input type="submit" name="sub1" value="Login">
      <br>
      <a href="/signup">Register</a>
    </form>
    <br>
  </body>

</html>
