<!DOCTYPE html>
<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome to login page!
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/login" method="POST">
      Username:
      <input type="text" name="username">
      <br>
      Password:
      <input type="password" name="password">
      <br>
      <input type="submit" name="sub1">
      <br>
      {{error}}
      <a href="/signup">Register</a>
      <a href="/">Home</a>
    </form>
    <br>
  </body>

</html>
