<!DOCTYPE html>

<html>
    <head>
        <title>My Blog</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
        <a href="/">Home</a>
        <h1>
          My Blog Posts
        </h1>
        {% for blog in blogs %}
        <hr>
        <a href="/post/{{blog[0]}}"><h2>{{ blog[3] }}</h2></a>
            {% if blog[5] != blog[2] %}
            Posted: {{blog[2]}} (Edited: {{blog[5]}})
            {% else %}
            Posted: {{blog[2]}}
            {% endif %}
            <br>
            <a href = "/editBlog/{{blog[0]}}">Edit</a>
            <a href = "/deleteBlog/{{blog[0]}}">Delete</a>
        {% endfor %}
    </body>
</html>
