<!DOCTYPE html>

<html>
    <head>
        {% if found %}
          <title>{{title}}</title>
        {% else %}
          <title>Not found</title>
        {% endif %}
    </head>

    <body>
      <a href="/">Home</a>
      {% if found %}
      <h1>
        {{title}}
      </h1>
      <p>By {{author}}</p>
      <small>
        {% if date != edit %}
        {{date}} (Edited: {{edit}})
        {% else %}
        {{date}}
        {% endif %}
      </small>
      <br>
      <br>
      <p>{{content}}</p>
      {% else %}
        <p>Not found</p>
      {% endif %}
    </body>
</html>
