<!DOCTYPE html>
<html>

  <head>
    <title> SIGN UP PAGE </title>
    <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
  </head>

  <body>
    <h1>
      Welcome to the signup page!
    </h1>


    <h3>
      Create your account below!
    </h3>
    <form action="/signup" method="POST">
      Display Name:
      <input type="text" name="displayName">
      <br>
      Username:
      <input type="text" name="username">
      <br>
      Password:
      <input type="password" name="password">
      <br>
      <input type="submit" name="sub1" value="Register">
      <br>
      <a href="/login">Login</a>
    </form>
    <br>
  </body>

</html>
