<!DOCTYPE html>

<html>
    <head>
        <title>SEARCH</title>
        <link href ="../static/css/styles.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/myBlog">My Blog</a>
      <a href="/createPosts">Create New Post</a>
      <a href="/logout">Logout</a>
        <h1>
          Search
        </h1>
        <h3>
            <form action="/search" method="POST">
                <label for="options">Search By:</label>
                <select name = "options" id = "options">
                  <option value ="author">Author</option>
                  <option value ="title">Title</option>
                  <option value ="content">Content</option>
                </select>
                <br>
                <input type="text" name="query" value = "{{ query }}">
                <input type = "submit" name = "search" value = "Search">
            </form>
        </h3>
        {% if blogs %}
        <h1>Blog Posts</h1>
        {% endif %}
        {% for blog in blogs %}
        <h2><a href ="/post/{{blog[0]}}">{{ blog[3] }}</a></h2>
        by {{ blog[1] }}
        <br>
        <br>
        {% endfor %}
        {% if users %}
        <h1>User Blogs</h1>
        {% endif %}
        {% for user in users %}
        <h2><a href ="/blog/{{user[2]}}">{{ user[1] }}</h2> @{{ user[2] }}</a>
        <br>
        <br>
        {% endfor %}
    </body>
</html>
